---
import Layout from "../layouts/Layout.astro";
const bikeApi = import.meta.env.PUBLIC_BIKE_API;
const anonKey = import.meta.env.PUBLIC_ANON_KEY;
---
<script>
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    document.body.addEventListener(
        "htmx:configRequest",
        function (evt) {
            const main = document.querySelector("main");
            // @ts-ignore
            evt.detail.parameters["_bike_id"] = params.id;
            // @ts-ignore
            evt.detail.path = main.dataset.bikeApi + evt.detail.path; 

            if (main.dataset.bikeApi.includes('supabase')) {
                // @ts-ignore
                evt.detail.headers['Content-Profile'] = 'bikes_api';
                // @ts-ignore
                evt.detail.headers['apikey'] = main.dataset.anonKey;
                // @ts-ignore
                evt.detail.headers['Authorization'] = 'Bearer ' + main.dataset.anonKey;
            }
        },
    );
    const backButton = document.querySelector("#back-button");
    // @ts-ignore
    backButton.addEventListener("click", () => history.back());
</script>

<Layout title="">
<main 
    class="container mx-auto" 
    hx-headers='{"Accept": "text/html"}'
    data-bike-api={bikeApi}
    data-anon-key={anonKey}
    > 
    <div class="fixed left-3 top-3 z-10">
        <sl-icon-button name="arrow-left" id="back-button" style="font-size: 1.5rem;"></sl-icon-button>
    </div>
    <div id="bike-detial" class="flex justify-center"
        hx-post="/rpc/html_bike_detail"
        hx-target="this"
        hx-trigger="load"
    >
    </div>
</main>
</Layout>

<style is:global>
    table {
        border-collapse: separate;
        border-spacing: 0px;
    }
    th:first-of-type {
        border-top-left-radius: var(--sl-border-radius-medium);
    }
    th:last-of-type {
        border-top-right-radius: var(--sl-border-radius-medium);
    }
    td, tr {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: left;
        background-color: var(--sl-color-primary-600);
        color: white;
        /* text-2xl	 */
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
        font-weight: 600;
        padding-left: 0.75rem;  
        border: 1px solid #ddd;
     }
     tr:nth-child(even){background-color:var(--sl-color-gray-100);}
</style>