---
import Layout from "../layouts/Layout.astro"
---
<script>
    const response = await fetch('api/signOut');
    const out = await response.json()
    window.location.assign('/');
</script>
<Layout title="Astro HTMX Bike">
    <h1>Logging out...</h1>
</Layout>
