---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="./node_modules/@shoelace-style/shoelace/dist/themes/light.css" />
		<script type="module" src="./node_modules/@shoelace-style/shoelace/dist/shoelace.js"></script>

		<title>Astro HTMX Bike</title>
	</head>
	<div class="flex justify-center mt-3">
		<h1>{title}</h1>
	</div>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	sl-icon-button::part(base) {
        background-color:white;
        border: solid;
        border-color: lightgray;
        border-width: 2px;
        
    }
	:not(:defined) {
        visibility: hidden;
    }
	body {
		background-color: var(--sl-color-neutral-50);
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			/* white 60% */
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
    h1 { 
        /* text-3xl */
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }
    h3 {
        /* text-3xl */
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */ 
		font-weight: 600;     
    }
    h4 {
        /* text-2xl	 */
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
        font-weight: 600;
	}
    sl-card > a:hover {
        color: #0ea5e9;
    } 
    h5 {
        /* text-xl	 */
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */		
    }
    h6 {
        /* text-lg */
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
        padding-inline-start: 1rem;
        text-indent: -1rem;
    }
    strong {
        font-weight: 600;
    }
</style>
